<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ryan.temporaryname">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_dashboard"
            android:label="@string/app_name" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".Course1_OOP_java" />
        <activity android:name=".Course2_Android_tips" />
        <activity android:name=".Course3_HTML" />
        <activity android:name=".Course4_Javascript" />
        <activity android:name=".Course5_JavaCSharp" />
        <activity android:name=".Course6_languages" />
        <activity android:name=".Course7_fundamentals" />
        <activity android:name=".Course8_glusterfs" />
        <activity android:name=".Course9_Async" />
        <activity android:name=".Course10_Python"></activity>
    </application>

</manifest>